@font-face {
    font-family: Abel;
    src: url(../fonts/Abel/Abel-Regular.ttf);

}

@font-face {
    font-family: Arvo;
    src: url(../fonts/Arvo/Arvo-Regular.ttf);
}

@font-face {
    font-family: Josefin;
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Lexend;
    src: url(../fonts/Lexend/Lexend-VariableFont_wght.ttf);
}

